 body
{
    background-color:yellow;
}
input,a
{
    background-color:lavender;
    color:blue
}
table
{
    background-color:#ff44ab;
}
img
{
    display:block;
    margin-left:40%;
    margin-right:10%;
    width:20%;
    height:20%;
    align:center
}
h1
{
    color:blue
}