body
{
    background-color:#ca4152;
}
input,a
{
    background-color:orange;
    color:black
}
table
{
    background-color:lavender;
}
img
{
    display:block;
    margin-left:40%;
    margin-right:10%;
    width:20%;
    height:20%;
    align:center
}
h1
{
    color:yellow;
}